/* Grid used in body and container one */

body {
  display: grid;
}

.containerOne {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 100px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.card-text {
  font-weight: bold;
}

.lightBtn {
  margin-left: 20px;
  width: 80px;
}

.btm {
  position: absolute;
  bottom: 10px;
  margin-left: 40px;
}
.about {
  margin-right: 400px;
}
.vidOne {
  margin-left: 120px;
  margin-top: 50px;
}

.black {
  color: black;
}

.myPhoto {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
